django==4.2.5
dj-database-url==2.1.0
djangorestframework==3.14.0
django-allauth==0.45.0
APScheduler==3.10.1


dj_rest_auth==4.0.1
django-apscheduler==0.6.2
django-cors-headers==4.0.0
django-filter
opencv-python==4.7.0.72
pdf2image==1.16.3
ptyprocess==0.7.0
pytesseract==0.3.10
